.App {
  text-align: center;
}

.bold {
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #007579;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#book-display {

  display: flex;
 flex-wrap: wrap;
  text-align: center;
  padding-top: 7rem;
  z-index: -1;
  background-color: rgb(247, 239, 230);
}



#books-container{  
 
  width: 18rem;
  margin: auto;

}

#book-img {
  box-shadow: 4px 4px rgba(128, 128, 128, 0.438);
  border-radius:4px;
  height: 26rem;
}

.card {
  height: 40rem;
  background-color: white;
  box-shadow: 4px 4px rgba(128, 128, 128, 0.438);
}

.card-text,
.card-title,
.card-subtitle {
  color: rgb(59, 6, 66);
}

.col-container{
  text-align: center;
}
#bookForm {
  text-align: left;
  display: flex;
flex-wrap: wrap;

}


#add-book{
padding-top: 8rem;
padding-bottom: 5rem;
  background-color:rgb(247, 239, 230);
 height: 100%;
}

#bookForm{
  padding: 1rem;
 box-shadow: 5px 5px rgba(128, 128, 128, 0.356);
  margin: 2rem;
background-color: white;
border-radius: 5px;

}
#book-header{
  text-align: center;
}


.col-mid-6 {
 
  margin: auto;
 
}

