.brand{
    width:3rem;
    height: 3rem;
   
}

  #search{
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    
  }
  #search-bar{

    border:none;
    width:21rem;
    font-family: 'Vollkorn';
  }
  .navbar{
    font-family: 'Vollkorn';
    position:fixed;
    z-index: 2;
    width:100%;
  }
#nav-search{
  margin-top:0.5rem ;
}
  
  

#shopping-cart{
  position: relative;

}

.nav-link{
  margin-left: 1rem;
}
#cart-count {
  background-color: yellow;
  border-radius: 50%;
  height: 15px;
  width: 18px;
  text-align: center;
  padding-bottom: 24px;
  margin-right: 3px;
  position: relative;
  right: 1rem;
  z-index:2
}

.navbar-nav{
 margin:0 auto;
}
